<main id="unauthed-main">
  <div class="unauthed-card">
    <h1>techzon <span>co.jp</span></h1>
    <form action="/signin" method="post">
      <!-- ここを記述しよう！ -->
      <input type="email" name="email" value="メールアドレス">
      <input type="password" name="password" value="パスワード">
        <button type="submit">
            サインイン
        </button>
        <p>はじめてご利用の方は<a href="/signup">こちら</a></p>
    </form>
  </div>
</main>